@import "tailwindcss";

/* global theme setup */
@theme {
  --color-bg: #0f172a;
  --color-accent: #06b6d4;
  --color-text: #f8fafc;
  --font-base: "Inter", sans-serif;
}

body {
  background: radial-gradient(circle at top left, #0f172a 0%, #000000 80%);
  color: var(--color-text);
  font-family: var(--font-base);
}
